/**
 * Author : Nathan Rayburn
 * Date: 28/05/21
 * Description : This file is designed to be the style sheet for the mPDF export
 **/

hr.solid {
    border-top: 3px solid #bbb;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
body{
    margin:0;
    padding: 0;
    font-family: sans-serif;

}

input[type="radio"] + label span {
    transition: background .2s,
    transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
    transform: scale(1.2);
}

input[type="radio"]:checked + label span {
    background-color: #1aa34a; //bg-blue
box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
    color: #1aa34a; //text-blue
}

